<div class="mainContainer" ng-controller="recipectl" ng-init="init()">
    <div class="recipeCard">
                
                <div class="recipeCardDetails">
                        <table>
                            <tr>
                                <th class="recipeCardHeader recipeCardLabel">Title:</th>
                                <th class="recipeCardHeader recipeCardText">{{recipe.title}}</th>
                            </tr>
                            <tr>
                                <td class="recipeCardLabel">Description:</td>
                                <td class="recipeCardText">{{recipe.description}}</td>
                            </tr>
                            <tr>
                               <td class="recipeCardLabel">Attributed to:</td>
                               <td class="recipeCardText">{{recipe.attributedTo}}</td>
                            </tr>
                            <tr>
                               <td class="recipeCardLabel">Prep Time:</td>
                               <td class="recipeCardText">{{recipe.prepTime}} {{recipe.prepTimeUnit}}</td>
                            </tr>
                            <tr>
                                <td class="recipeCardLabel">Makes:</td>
                                <td class="recipeCardText">{{recipe.numberOfServings}} servings - ({{recipe.servingSize}} {{recipe.servingSizeFraction}} {{recipe.servingSizeUnit}} each)</td>
                            </tr>
                            <tr>
                                <td class="recipeCardLabel">Oven Temp:</td>
                                <td class="recipeCardText">{{recipe.ovenTemp}} {{recipe.ovenTempUnit}}</td>
                            </tr>
                            <tr>
                                <td class="recipeCardLabel">Cook Time:</td>
                                <td class="recipeCardText">{{recipe.cookTime}} {{recipe.cookTimeUnit}}</td>
                            </tr>
                        </table>
                    <p>
                        Ingredients:
                    </p>
                    <ul style="list-style-type:none">
                        <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.quantityDisplay}} {{ingredient.quantityUnit}} {{ingredient.name}}</li>
                    </ul>
                    <p>
                        Instructions:
                    </p>
                    <ul style="list-style-type:none">
                        <li ng-repeat="instruction in recipe.instructions">{{instruction.orderIndex}}. {{instruction.text}}</li>
                    </ul>
                </div>
                 
            </div>
    <div class="recipeForm">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default recipeComponentGroup" is-open="panelIsOpen[0]" ng-click="checkOpenPanels(0)" close-others="false">
                <uib-accordion-heading>
	                Recipe details: 

	               	<input class="recipeSubmit recipeSave" type="submit" value="Save recipe" ng-click="submitNewRecipe()"></input>
                </uib-accordion-heading>
                <table class="recipeFormTable">
                    <tr>
                        <td class="recipeFormLabel">From the Kitchen of:</td>
                        <td colspan=5><input class=" recipeFormInput recipeFormText" type="text" ng-model="recipe.attributedTo"></td>
                    </tr>
                        <td class="recipeFormLabel">Title:</td>
                        <td colspan=5><input class=" recipeFormInput recipeFormText" type="text" ng-model="recipe.title" required="true"></td>
                    </tr>
                    <tr>
                        <td class="recipeFormLabel">Description:</td>
                        <td colspan=5><textarea class="recipeFormInput elastic recipeFormTextArea" ng-model="recipe.description">Enter description...</textarea></td>
                    </tr>
                    <tr>
                        <td class="recipeFormLabel">Number of Servings:</td>
                        <td colspan=5><input class=" recipeFormNumber" type="number" min=0 ng-model="recipe.numberOfServings"></td>
                    </tr>
                    <tr>
                        <td class="recipeFormLabel">Serving Size:</td>
                        <td colspan=5>
	                       	<input class="recipeFormNumber inline" type="number" min=0 ng-model="recipe.servingSize" ng-change="updateServingUnits()" />
	                   		<select id="servingSizeFraction" ng-model="recipe.servingSizeFraction" class="recipeFormSelect recipeFormFraction">
	                        	<option ng-repeat="item in fractionsList">{{item.text}}</option>
	                        </select>
	
	                        <select id="servingSizeUnit" class="recipeFormSelect recipeServingUnits" ng-model="recipe.servingSizeUnit">
	                         	<option ng-repeat="unit in servingUnitsList">{{unit}}</option>
	                        </select>
                         </td>
                    </tr>
                    <tr>
                        <td class="recipeFormLabel">Prep Time:</td>
                        <td colspan=4><input class="recipeFormNumber" type="number" min=0 ng-model="recipe.prepTime" ng-change="updatePrepTimeUnits()">
 
                        <select id="prepTimeUnit" class="recipeFormSelect recipeTimeUnit" ng-model="recipe.prepTimeUnit" >
                       		<option ng-repeat="unit in prepTimeUnitsList">{{unit}}</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="recipeFormLabel">Cooking Time:</td>
                        <td colspan=4><input class="recipeFormNumber" type="number" ng-model="recipe.cookTime" ng-change="updateCookTimeUnits()">
                        <select id="cookTimeUnit" class="recipeFormSelect recipeTimeUnit" ng-model="recipe.cookTimeUnit" >
                        	<option ng-repeat="unit in cookTimeUnitsList">{{unit}}</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="recipeFormLabel">Oven Temperature:</td>
                        <td colspan=4>
                        <select class="recipeFormSelect" ng-model="recipe.ovenTemp">
                        	<option ng-repeat="item in ovenTempsList">{{item}}</option>
                        </select>
	                        <input class="recipeFormInput radio" type="radio" name="ovenTempUnit" value="C" ng-model="recipe.ovenTempUnit">C
	                    	<input class="recipeFormInput radio" type="radio" name="ovenTempUnit" value="F" ng-model="recipe.ovenTempUnit">F
                        </td>
                    </tr>
                </table>
            </div>
        
            <div uib-accordion-group heading="Ingredients:" class="panel-default recipeComponentGroup" is-open="panelIsOpen[1]" ng-click="checkOpenPanels(1)" close-others="false">
                <table class="recipeFormTable">
                    <tr ng-repeat="ingredient in recipe.ingredients">
                        <td class="ingredientListItem"><img src="resources/images/round_minus.png" class="smallIcon" ng-click="removeIngredient(ingredient.name)">
                        {{ingredient.quantityDisplay}} {{ingredient.fraction}} {{ingredient.quantityUnit}} {{ingredient.name}} </td>
                    </tr>
                    <tr>
                        <td colspan=5><input id="ingQty" type="number" class="recipeFormNumber" ng-model="ingredientForm.quantity">
                      
                            <select id="ingFraction" class="recipeFormSelect" ng-model="ingredientForm.fraction">
                                <option ng-repeat="fraction in fractionsList" >{{fraction.text}}</option>
                            </select>
                       
                        
                            <select id="ingQtyUnit" class="recipeFormSelect" ng-model="ingredientForm.quantityUnit">
                                <option ng-repeat="unit in servingUnitsList" >{{unit}}</option>
                            </select>
             
                        	<input type="text" class="recipeFormInput recipeFormIngredient" name="ingredientName" ng-model="ingredientForm.name"></input>
                        <img src="resources/images/round_plus.png" class="smallIcon" ng-click="addIngredient()"></td>
                    </tr>
                </table>
            </div>
            <div uib-accordion-group heading="Instructions:" class="panel-default recipeComponentGroup" is-open="panelIsOpen[2]" ng-click="checkOpenPanels(2)" close-others="false">
                <table class="recipeFormTable"> 
                    <tr ng-repeat="instruction in recipe.instructions">
                        <td class="iconCell"><img src="resources/images/round_minus.png" class="smallIcon" ng-click="removeInstruction(instruction.orderIndex)"></td>
                        <td class="orderIndex">{{instruction.orderIndex}}.</td>
                        <td class="instructionText">{{instruction.text}}</td>
                    </tr>
                    <tr>
                        <td>{{recipe.instructions.length + 1}}.</td>
                        <td colspan=2><textarea elastic class="instructionTextArea" name="instrText" ng-model="instructionForm.text">Enter new instruction...</textarea></td>
                        <td class="iconCell"><img src="resources/images/round_plus.png" class="smallIcon" ng-click="addInstruction()"></td>
                    </tr>
                </table>
            </div>

         </uib-accordion>
    </div>
</div>
