<div ng-controller="pantryctl" id="innerWrapper" ng-init="init(1)">
	<div class="pantryView">
		<div class="pantryWrapper">
			<div class="pantrySearch">
				Search: <input type="text" ng-model="searchText">
			</div>
			<div uib-accordion close-others="false" class="pantryItems">
				<div ng-repeat="category in categoryIngredients" >
					<div uib-accordion-group class="panel-default pantryCategory" ng-click="setRowSize(categoryIngredients.indexOf(category))">
		                <uib-accordion-heading>
			                {{category.name}}
		                </uib-accordion-heading>
		                <div class="outerRowWrapper">
							<div class="innerRowWrapper" id="{{'ingRow_' + category.name}}">
								<div class="itemRow">
									<div class="itemWrapper" ng-repeat="ingredient in category.ingredients | orderBy:'name'" ng-click="selectItem(ingredient)">
										<div class="itemMain">
											<div class="itemImage"><img src="{{ingredient.image.imagePath}}"></div>	
										</div>
										<div class="itemInfo">
											<p>{{ingredient.name}}<br/>Qty: {{ingredient.quantityDisplay}} {{ingredient.quantityUnit}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pantrySelected">
			<div class="selectedItem">
				<div class="selectedImage">
					<img src={{selectedItem.image.imagePath}} ng-show="selectedItem != null">
				</div>
				<div class="selectedInfo">
					<h3 class="centered">{{selectedItem.name}}</h3>
					<p ng-show="checkForQty(selectedIngredient)">Current quantity:<br/>
					<span class="hiddenInput" ng-mouseover="qtyFlag = true" ng-mouseout="qtyFlag = false">
						<input id="{{'ingQty' + searchResults.indexOf(selectedItem)}}" type="number" min=0 value="{{selectedIngredient.quantity}}" 
							class="recipeFormNumber" ng-show="qtyFlag" ng-model="selectedIngredient.quantity" 
							ng-change="updateServingUnits(searchResults.indexOf(selectedItem))" /> 
						<span class="hiddenInputText" ng-hide="qtyFlag">{{selectedIngredient.quantity}}</span>

						<select id="{{'ingQtyFraction' + searchResults.indexOf(selectedItem)}}" ng-show="qtyFlag"
		                   		ng-model="selectedIngredient.fraction" class="recipeFormSelect"
			                   	ng-change="updateServingUnits(searchResults.indexOf(selectedItem))">
			                <option ng-repeat="item in fractionsList">{{item.text}}</option>
			            </select> 
						<span class="hiddenInputText" ng-hide="qtyFractFlag">{{selectedIngredient.fraction}}</span>
					</span>
					<span class="hiddenInputUnits" ng-mouseover="qtyUnitFlag = true" ng-mouseout="qtyUnitFlag = false">
						<select id="{{'ingQtyUnit' + searchResults.indexOf(selectedItem)}}" class="recipeFormSelect" 
		                        ng-show="qtyUnitFlag" ng-model="selectedIngredient.quantityUnit"
		                        ng-change="qtyUnitFlag = false; checkForUnit(selectedIngredient)" ng-blur="qtyUnitFlag = false">
		                    <option ng-repeat="unit in servingUnitsList | orderBy:'value'">{{unit.value}}</option>
		                 </select>
		                 <span class="hiddenInputText" ng-hide="qtyUnitFlag">{{selectedIngredient.quantityUnit}}</span> 
					</span>
				
<!-- 					<table class="ingInfoTable"> -->
<!-- 						<th colspan=3>{{selectedItem.name}}</th> -->
<!-- 						<tr> -->
<!-- 							<td colspan=3>{{selectedItem.description}}</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td class="ingLabel" colspan=3>Current qty:</td> -->
<!-- 						</tr> -->
<!-- 							<tr> -->
<!-- 							<td class="hiddenInput" ng-dblclick="qtyFlag = true"> -->
<!-- 								<input id="{{'ingQty' + searchResults.indexOf(selectedItem)}}" type="number" min=0 value="{{selectedIngredient.quantity}}" -->
<!-- 								class="recipeFormNumber" ng-show="checkFlag(qtyFlag, selectedIngredient.quantity)" ng-model="selectedIngredient.quantity"  -->
<!-- 								ng-change="updateServingUnits(searchResults.indexOf(selectedItem))" ng-blur="qtyFlag = false"/> -->
<!-- 								<span class="hiddenInputText" ng-hide="qtyFlag">{{selectedIngredient.quantity}}</span> -->
<!-- 							</td> -->
<!-- 							<td class="hiddenInput" ng-dblclick="qtyFractFlag = true"> -->
<!-- 		                   		<select id="{{'ingQtyFraction' + searchResults.indexOf(selectedItem)}}" ng-show="checkFlag(qtyFractFlag, selectedIngredient.fraction)"  -->
<!-- 		                   		ng-model="selectedIngredient.fraction" class="recipeFormSelect"  -->
<!-- 		                   		ng-change="updateServingUnits(searchResults.indexOf(selectedItem)); qtyFractFlag = false" ng-blur="qtyFractFlag = false"> -->
<!-- 	                        	<option ng-repeat="item in fractionsList">{{item.text}}</option>  -->	
<!-- 		                        </select> -->
<!-- 		                        <span class="hiddenInputText" ng-hide="qtyFractFlag">{{selectedIngredient.fraction}}</span> -->
<!-- 							</td> -->
<!-- 							<td class="hiddenInput" ng-dblclick="qtyUnitFlag = true"> -->
<!-- 		                        <select id="{{'ingQtyUnit' + searchResults.indexOf(selectedItem)}}" class="recipeFormSelect"  -->
<!-- 		                        ng-show="checkFlag(qtyUnitFlag, selectedIngredient.quantityUnit)" ng-model="selectedIngredient.quantityUnit"  -->
<!-- 		                        ng-change="qtyUnitFlag = false" ng-blur="qtyUnitFlag = false"> -->
<!-- 	                         	<option ng-repeat="unit in servingUnitsList">{{unit}}</option>  -->		
<!-- 		                        </select> -->
<!-- 		                        <span class="hiddenInputText" ng-hide="qtyUnitFlag">{{selectedIngredient.quantityUnit}}</span> -->
<!-- 		                    </td> -->
<!-- 						</tr> -->
<!-- 					</table> -->
					
					<p>Last updated: {{selectedItem.lastUpdated}}</p>
					<p>Nutritional Info:</p>
					<p>Categories: <br/>
						<ul class="categoryList" ng-repeat="category in selectedIngredient.categories">
							<li>{{category.name}}</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>